server:
  port: 8882
spring:
  application:
    name: config-client
  cloud:
    config:
      label: master
      profile: dev
      uri: http://localhost:8888/
      discovery:
        enabled: true
        service-id: config-server
  rabbitmq:
    host: localhost
    port: 5672
    username:
    password:
eureka:
  client:
    service-url: http://localhost:8889/eureka/
